@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';

body {
	background-color: white;
	color: black;
}

h1 {
	font-size: 48px;
	line-height: 100%;
}

button,
input,
select,
textarea {
	-webkit-user-select: none;
	user-select: none;
	outline: none;
}

a {
	-webkit-user-drag: none;
}

* {
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}

img {
	pointer-events: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
